@import url('https://fonts.googleapis.com/css2?family=Jomolhari&family=Noto+Sans+KR:wght@100..900&display=swap');


/* =======================초기값 설정 */
*{margin: 0;padding: 0;box-sizing: border-box;}
ul,li{list-style: none;}
a{color: inherit;text-decoration: none;}
img{max-width: 100%;vertical-align: top;}
button{cursor: pointer;}
head,body{color: #000;background-color: #fff;font-family: "Noto Sans KR", sans-serif;}
:root{--mainColor:#1C0A0A;--fontColor:#5A0E0E;--pointColor:#7A0808;--red:#DC2137;}

/*==========================검색창  */
#SEARCH{max-width: 899px;height: 782px;position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%); background: #fff;z-index: 20;border: 0.85px solid #000;display: none;width: 100%;overflow: hidden;}
#SEARCH::after{content: "";display: block;width: 100%;height: 11px;background: var(--fontColor);position: absolute;top: 0;}
#SEARCH h2{font-size: 22px;letter-spacing: 2px;position: absolute;left: 50%;transform: translateX(-50%);top: 42px; font-family: "Noto Sans KR", sans-serif;}
#SEARCH .bin{display: flex;width: 450px;height: 44px;position: relative;top: 88px;left: 50%;transform: translateX(-50%);}
#SEARCH .search-text{width: 450px;height: 44px;border-radius: 58px;border: 0.85px solid #2F1111;padding-left: 58px;}
#SEARCH .search-button{background: none;border: none;position: absolute;top: 50%;transform: translateY(-50%);left: 20px;}
#SEARCH .suggest{width: 118px;height: 20px;background: var(--fontColor);position: absolute;top: 148px;left: 40px;}
#SEARCH .suggest h3{font-size: 16px;color: #fff;font-weight: bold;text-align: center;line-height: 20px;}
#SEARCH>ul{max-width: 816px;height: 589px;position: absolute;bottom: 23px;left: 50%;transform: translateX(-50%);border-top: 0.42px solid;padding: 0 10px;width: 100%;}
#SEARCH>ul li{max-width: 756px; width: 100%;height: 150px;margin: 0 auto;position: relative;border-bottom: 0.42px dashed; stroke-dasharray:3.39;transition: 0.2s;}
#SEARCH>ul li:hover{background: #e8e8e8;}
#SEARCH>ul li .img{width: 154px;height: 118px;object-fit: cover;background-color: #fff;border: 0.85px solid #591111a4;overflow: hidden;position: absolute;top: 50%;transform: translateY(-50%);left: 20px;}
#SEARCH>ul li .img img{height: 100%;object-fit: cover;transform: translateX(40%);scale: 1.03;}
#SEARCH>ul li .wine-text{position: absolute;left: 209px;height: 100%;width: 552px;}
#SEARCH>ul li em{ font-family: "Jomolhari", serif;font-style: normal;font-weight:bold;font-size: 12px;opacity: 0.2;position: absolute;top: 18px;}
#SEARCH>ul li h4{font-size: 20px;font-weight:500;position: absolute;top: 34px; font-family:"Noto Sans KR", sans-serif;;}
#SEARCH>ul li h4 span{font-size: 16px;font-family: "Jomolhari", serif;}
#SEARCH>ul li p.France{font-size: 14px;bottom: 58px; position: absolute;opacity: 0.5; font-family: "Noto Sans KR", sans-serif;}
#SEARCH>ul li p.France span{font-family: "Jomolhari", serif;}
#SEARCH>ul li p.sale{font-size: 12px;font-family: "Jomolhari", serif;opacity: 0.56;color: #3F3F3F;text-decoration: line-through;position: absolute;bottom: 38px;}
#SEARCH>ul .wine-text>span{font-family: "Noto Sans KR", sans-serif;text-decoration: none; font-weight: 500;color: #FF0000;font-size: 12px;left: 54px;position: absolute;bottom: 43px;opacity: 1;}
#SEARCH>ul .wine-text p.price{font-style: normal;font-family: "Jomolhari", serif;font-size: 18px;position: absolute;bottom: 14px;}
#SEARCH>ul .wine-text p.price i{font-style: normal;font-family: "Noto Sans KR", sans-serif;}
#SEARCH>button{background: none;border: none;position: absolute;top: 29px;right: 38px;}

/* ========================= 헤더 */
header .material-symbols-outlined{display: none;}
header{height: 163px;width: 100%;z-index: 10;position: fixed;}
header::before{content: "";display: block;width: 100%;height: 0%;background-color: var(--mainColor);position: absolute;top: 0;left: 0;transition: 0.5s;}
header.on::before{height: 100%;}
#wrap{width: 1328px;height: 100%;margin: 0 auto;
position: relative;}
header>ul{display: flex;height: 100%;gap:0 0.9vw;}
header>ul>li:nth-child(1){flex:1 1 836px;margin-left: 1vw;}
header>ul>li:nth-child(2){flex:1 1 246px;}
header>ul>li:nth-child(3){flex:1 1 836px;margin-right: 1vw;}
header .l_menu{position: relative;}
header .l_menu .strok{height: 1px;width:100%;background: #fff;position: absolute;top:59px;left:0;}
header .l_menu ul{display: flex;position: absolute;top: 76px;right: 0;}
header .l_menu ul li{padding-right: 6vw;color: #fff;font: 20px/1 "Noto Sans KR";font-weight:500;}
header .l_menu ul li a{transition: 0.2s;}
header .l_menu ul li a:hover{opacity: 0.6;}
header .r_menu{position: relative;} 
header .r_menu .strok{height: 1px;width:100%;background-color: #ffffff;position: absolute;top: 59px;right: 0;}
header .r_menu ul{display: flex;position: absolute;top: 76px;left:0;}
header .r_menu ul li{padding-left: 6vw;color: #fff;font: 20px/1 "Noto Sans KR";font-weight:500;}
header .Logo{width: 10vw;}
header .r_menu ul li a{transition: 0.2s;}
header .r_menu ul li a:hover{opacity: 0.6;}

header .Logo img{width: 100%; max-width: 208px;display: flex;justify-content: center;height: 131px;align-items: center;transform: translateY(1vw);}
header .search{position: absolute;top: 26px;right: 1.8%;}
header .search ul{display: flex;}
header .search ul li{padding-left: 28px;} 

/* ===========================비디오 */
.video{height: 802px;width: 100%;background-color: #1C0A0A;}
.video video{width: 100%;height: 100%;object-fit: cover;	mask-image: linear-gradient(to top, rgba(0, 0, 0, 1)60%, rgba(0, 0, 0, 0));
}

/* ===========================텍스트 */
.text1{height: 378px;display: flex;align-items: center;}
.text1 p{font-size: clamp(35px, 1.9792vw ,38px); font-family: "Noto Sans KR", sans-serif;line-height: 69px;margin: 0 auto;opacity: 0;transition: 0.6s;}
.text1 p span{font-family: "Jomolhari", serif;color: #310606;}
.text1 p i{font-style: normal;font-size: clamp(31px, 1.8vw, 34px);font-family: "Noto Sans KR", sans-serif;}
.text2{display: none;}

/* ============================== 콘텐츠*/
 .contents{height: 708px;}
 .contents ul{display: flex;}
 .contents .img{flex: 1 1 1109px;min-width: 57.7604vw;height: 708px}
 .contents .img img{width: 100%;height: 100%;object-fit: cover;}
 .contents .text{position: relative;flex:1 1 811px;}
 .contents .text h2{font-size:clamp(55px, 3.2292vw, 62px);text-transform: uppercase;font-family: "Jomolhari", serif;color: var(--fontColor);position: absolute;top: 120px;font-weight: 100;left: 4.2188vw; line-height:46px;}
 
 .contents .text h2::after{content: "";display: block;width:clamp(130px, 7.7083vw, 148px) ;height: 2px;background: var(--fontColor);position: absolute;top:78px;left: 50%;transform: translateX(-50%);}
 .contents .text p{font-size:clamp(12px, 0.7292vw,14px);line-height: 26.3px;position: absolute;left: 2.6042vw;top:260px; font-family:"Noto Sans KR", sans-serif;font-weight: 500;width:clamp(350px, 24.2708vw, 466px) ;}
 .contents .text p span{font-family: "Jomolhari", serif;font-weight: 400;}
 .contents button{width: 344px;height: 58px;border: 0.88px solid #5A0E0E;background: #ffffff;border-radius: 278px;position: absolute;bottom: -100px;left: 50%; font-size: 20px;font-family: "Noto Sans KR", sans-serif;font-weight:450;transition: 0.1s;text-align-last: left;padding-left: 40px;color: var(--fontColor);transform: translateX(-50%);}
 .contents button:hover{background: #5A0E0E;color: #fff;}
 .contents button img{top: 50%;position: absolute;transform: translateY(-50%);right: 25px;}
 .contents button:hover img{filter: brightness(2000%);} 
 

/* ======================== 슬라이드*/
.slide{height: 1304px;background-color: #fff;width: 100%!important;position: relative;}

.swiper-container{width: 100%!important;height: 100%;overflow: hidden;}
.slider>h2{font-size: 62px;font-family: "Jomolhari", serif;font-weight: 400;text-transform: uppercase;color: var(--fontColor);line-height: 62px;padding:228px 0 0 15.5208vw;} 
.swiper-container>.bg{width: 616px;height: 990px;margin: 0 auto;position: absolute;left: 50%;transform: translateX(-50%);top:200px;}

.slider>ul{height:600px;margin-top: 100px;flex-wrap: nowrap;width: 100%!important;}
.slider>ul li{width:781px!important;height: 100%;position: relative;margin-right: 10px;}
.slider .slidebox{display: flex;height: 100%;}
.slider .slidebox .img1{flex: 1 1 365px;min-width: 365px;background: url(../img/main/slide1.png)no-repeat right;}
.slider .slidebox .img2{flex: 1 1 365px;min-width: 365px;background: url(../img/main/slide2.png)no-repeat right;}

.slider .slidebox .img3{flex: 1 1 365px;min-width: 365px;background: url(../img/main/slide3.png)no-repeat right;}
.slider .slidebox .img4{flex: 1 1 365px;min-width: 365px;background: url(../img/main/slide4.png)no-repeat right;}
.slider .slidebox .font{flex: 1 1 416px;position: relative; }
.swiper-wrapper .swiper-slide .font{transition: 1s;opacity: 0;}
.swiper-wrapper .swiper-slide-next .font{transition: 1s;opacity: 0;}
.swiper-wrapper .swiper-slide-active .font{
	opacity: 1;

}

.slider .font h3{font-size: 34px;  font-family: "Jomolhari", serif;font-weight: 400;text-transform: uppercase;color: var(--fontColor);position: absolute;left: 22px; top:178px;line-height: 34px;}
.slider .font h3::after{display: block;content: "";width: 100px;height: 1px;background: var(--fontColor);margin-top: 5px;}
.slider .font h3 span{font-size: 14px; font-family: "Noto Sans KR", sans-serif;}
.slider .font p{position: absolute;font-size: 14px; font-family:"Noto Sans KR", sans-serif;line-height: 26px; top: 244px;left: 26px;max-width: 316px;font-weight: 450;}
.slider .font i{font-size: 14px;font-style: normal;color: #310606;position: absolute;top: 372px;line-height: 26px;max-width: 290px;left: 26px;font-weight: 450;letter-spacing: -0.5px;word-break: keep-all;}
.slider button {color: #fff;font-weight: bold;padding-left: 21px;text-align: left;position: absolute;bottom:102px;left:26px;width:178px;height: 35px;background: var(--fontColor);border: none;} 
.slider button .material-symbols-outlined{position: absolute;color: #fff;font-size: 16px;top: 50%;transform: translateY(-50%);right: 14px;}
.slider .swiper-pagination-bullet{background-color: #ffffff;width: 16px;height: 16px;border: 2px solid #5A0E0E;opacity: 1;}
.slider .swiper-pagination-bullet-active{background-color: #5A0E0E;width: 16px;height: 16px;}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{margin: 0 6px!important;}
.swiper-pagination {margin-bottom: 230px;} 


/* ==========================배너 */
.vanner{height: 532px;padding-bottom: 144px;max-width: 1328px;width: 100%;margin: 0 auto;}
.vanner ul{display: flex;gap: 22px;padding: 0 20px;} 
.vanner ul li {overflow: hidden;height: 390px;flex:1 ;} 
 .vanner ul li:nth-child(1){transition: 0.5s ease-in-out;opacity: 0;}
.vanner ul li:nth-child(2){transition: 0.5s 0.1s ease-in-out;opacity: 0;}
.vanner ul li:nth-child(3){transition: 0.5s 0.2s ease-in-out;opacity: 0;} 
.vanner #img::before{content: "";display:block;width: 100%;height: 100%;backdrop-filter: blur(3px) brightness(45%);}
 .vanner .img1{background: url(../img/main/venne1.jpg) no-repeat center/cover;width: 100%;height: 100%; }
.vanner .img2{width:100%;height: 100%;background: url(../img/main/venne2.jpg) no-repeat center/cover;}
.vanner .img3{width: 100%;height: 100%;background: url(../img/main/venne3.jpg) no-repeat center/cover;}
.vanner h3{position: absolute;top: 91px;  font-family: "Jomolhari", serif;font-size: clamp(30px,1.7708vw,34px);padding:0 28px;color: #fff;font-weight: 400;} 
.vanner p{position: absolute;font-size: clamp(14px,0.8333vw ,16px);top: 180px;padding: 0 28px;color: #fff;line-height: 28px;font-weight: 300;}
.vanner p span{  font-family: "Jomolhari", serif;font-weight: 100;}

/* =======================푸터 */

footer{height: 515px;background-color: var(--mainColor);position: relative;bottom: -284px;}
footer #foobox{max-width: 1328px;width: 100%;height: 100%;position: relative;margin: 0 auto;}
footer #foobox>img{opacity: 0.06;position: absolute;left: 50%;transform: translateX(-50%);top: 75px;}
footer #foobox>h2{font-size: 20px;color: #fff;font-weight: bold;position: absolute;top: 100px;left:1.4583vw;}
footer .f_menu {display: flex;color: #fff;font-size: 16px;position: absolute;top: 151px;left:1.4583vw;}
footer .f_menu li{border-right: 0.79px solid #fff;line-height: 16px;padding-right: 27px;padding-left: 27px;text-decoration: underline;text-underline-offset: 3px;}
footer .f_menu li:last-child{border-right: none;}
footer .f_menu li:first-child{padding-left: 0;}
footer .capy{color: #fff;font-size: 12px;font-family: "Noto Sans KR", sans-serif;line-height: 24px;opacity: 0.6;position: absolute;bottom: 166px;left:1.4583vw;}
footer #foobox>p{color: #fff;font-size: 12px;font-family: "Noto Sans KR", sans-serif;opacity: 0.6;bottom: 100px;position: absolute;left:1.4583vw;}
footer .sns{position: absolute;right:2.5000vw; top: 100px;}
footer .sns h2{font-size: 20px;color: #fff;font-weight: bold;padding-bottom: 20px;}
footer .sns ul{display: flex;gap: 32px;}
footer .sns ul li{opacity: 0.7;transition: 0.2s;}
footer .sns ul li:hover{opacity:1;}
footer .card {position: absolute;right:2.5000vw;bottom: 144px;}
footer .card h2{font-size: 20px;color: #fff;font-weight: bold;padding-bottom: 20px;}
footer .card ul{display: flex;gap: 26px;}
footer .card ul li{opacity: 0.7;transition: 0.2s;}
footer .card ul li:hover{opacity: 1;}
.sideBox{display: none;}



@media (max-width: 1024px) {

  /* ====================== 사이드 메뉴창*/
  .sideBox{display: block;height: 100%;background-color:rgba(0,0,0,0.8);position: fixed;z-index: 20;overflow: hidden;transition: 0.5s;transform: translateX(-393px);width:393px;}
  .sideBox.on{transform: translateX(0px)}
  .sideBox::after{content: "";display: block;width: 2px;height: 560px;background-color: #fff;position: absolute;top: 150px;left:28px;}
  .sideBox .material-symbols-outlined{color: #fff;font-size: 40px;position: absolute;top: 29px;right: 21px;cursor: pointer;}
  .sideBox>ul{position: absolute;top: 148px;left: 50px;}
  .sideBox>ul>li{padding-bottom: 70px;}
  .sideBox>ul>li:last-child{padding-bottom: 0;}
  .sideBox>ul>li>a{color: #fff;font-size: 24px;}
  .sideBox .img{width: 119px;position: absolute;bottom: 50px;right: 20px;}
  .sideBox .img img{opacity: 0.6;}
  
  /* ==================해더 */
  header{height: 84px;}  
  header .l_menu, header .r_menu, header .Logo{display: none;}
  header .search{top: 30px;right:4.7vw;}
  header .search ul li{padding-left:21px;} 
  header .search img{height: 35px;}
  header .material-symbols-outlined{display: block;position: absolute;top: 15px;left: 4.2vw;font-size: 57px;font-weight: bold;color: #fff;cursor: pointer;}
  
  /* ===========================텍스트 */
.text1{height:248px;}
.text1 p{font-size: 3.3vw; font-family: "Noto Sans KR", sans-serif;line-height: 60px;margin: 0 auto;opacity: 0;transition: 0.6s;}
.text1 p span{font-family: "Jomolhari", serif;color: #310606;}
.text1 p i{font-style: normal;font-size: 3vw;font-family: "Noto Sans KR", sans-serif;}

/* ============================== 콘텐츠*/
 .contents{height: 1385px;}
 .contents ul{flex-wrap: wrap;}
 .contents .img{flex: 100%;min-width:none;height: 781px;margin: 0 36px;}
 .contents .text{flex:100%;height: 604px;}
 .contents .text h2{top: 60px;left: 50px; }
 .contents .text h2::after{display: none;}
 .contents .text p{font-size:clamp(15px, 1.9531vw,19px);line-height: 30px;left:50px;top:168px; width:clamp(650px,78.4180vw,803px) ;}
 .contents button{bottom: -105px;left:0; transform: none;}
 
 /* ============================슬라이더 */
.slide{height: 1206px;background-color: #fff;width: 100%!important;position: relative;}

.swiper-container h2{padding:188px 0 0 46px}
.swiper-container .bg{top:102px;}
.slider>ul{height:600px;margin-top: 100px;flex-wrap: nowrap;width: 100%!important;}

.swiper-pagination {margin-bottom: 170px;} 

/* ==========================배너 */
 .vanner{height:1354px;padding-bottom:0px;max-width:none;width: 100%;margin: none;}
 .vanner ul{gap: 18px 0;padding: 0 48px;flex-wrap: wrap;} 
 .vanner ul li {height: 389px;flex:1 1 924px;} 
 .vanner h3{top: 70px;font-size: clamp(40px,4.4922vw,46px);padding:0 60px;} 
 .vanner p{font-size: clamp(20px,2.1484vw ,22px);top: 195px;padding: 0 60px;line-height: 36px;}
   
  /* ================푸터 */
  footer #foobox>h2{left:4.6921vw;top: 94px;}
  footer .f_menu {left:4.6921vw;top: 146px;}
  footer .capy{left:4.6921vw;}
  footer #foobox>p{left:4.6921vw;}
  footer .sns{top: 50px;right: 5vw;}
  footer .card {right:5vw;bottom: 142px;}
}



  
@media (max-width: 750px) {
  
    /* =================검색창 */
    #SEARCH{max-width:100%;height: 100%;position: fixed; background: #fff;z-index: 20;border:none;display: none;width: 100%;}
    #SEARCH h2{font-size: 22px;top: 48px; font-weight: bolder;}
    #SEARCH .bin{width: 100%;max-width: 500px;height: 44px;top: 95px;padding: 0 16px;}
    #SEARCH .search-button{left:35px;}
    #SEARCH .suggest{left:4.0712vw;} 
    #SEARCH>ul{top: 166px;max-width: none;height:100%;padding: none;width: 100%;}
    #SEARCH>ul li{max-width:none;}    
    #SEARCH>ul li .img{width:24.4275vw;left: 1.2500vw;}
    #SEARCH>ul li .img img{transform: translateX(40%);scale: 1;transform: translateX(0%);max-width:96px;max-height: 118px;margin-left: 20%;}
    #SEARCH>ul li .wine-text{left: 30vw;height: 100%;width:100%;}

    /* =============헤더 */
    header{height: 91px;}  
    header .search{top: 48px;right:3.7vw;}
    header .search ul li{padding-left:28px;} 
    header .search img{height: 22px;}
    header .material-symbols-outlined{display: block;position: absolute;top: 40px;left: 2.6vw;font-size: 35px;font-weight:normal;color: #fff;}

    /* ================비디오 */
    .video{height: 580px}

    /* ===========================텍스트 */
    .text1{display: none;}
    .text2{display: block;}
    .text2{height: 210px;display: flex;align-items: center;}
    .text2 p{font-size: 4vw; font-family: "Noto Sans KR", sans-serif;line-height: 40px;margin: 0 auto;opacity: 0;transition: 0.6s;}
    .text2 p span{font-family: "Jomolhari", serif;color: #310606;}
    .text2 p i{font-style: normal;font-size: 4vw;font-family: "Noto Sans KR", sans-serif;}

    /* ============================콘텐츠 */
     .contents{height: 857px;}
     .contents .img{height: 308px;margin: 0 16px;}
     .contents .text{flex:100%;height: 549px;margin: 0 30px 0 16px;}
     .contents .text h2{font-size:clamp(40px, 12.7226vw, 50px);top: 46px;left:0px;}
     .contents .text p{font-size:clamp(12px,4.0712vw,16px);line-height: 25px;left:0;top:122px;width:100%;}
     .contents button{width: 100%; max-width: 344px;bottom: -90px;font-size: clamp(15px,5.0891vw ,20px);padding-left: clamp(5px,7vw,40px);}
     .contents button img{top: 50%;position: absolute;transform: translateY(-50%);right: 6.3613vw;}

    /* ======================== 슬라이드*/
.slide{height: 939px;}

.slider>h2{font-size:50px;line-height: auto;padding:0px 0 0 0;position: absolute;top: 58px;left: 16px;} 
.swiper-container>.bg{width: 407px;height: auto;top:125px;}
.slider>ul{height: 781px;position: absolute;bottom: 0;}
.slider>ul li{width:100%!important;height: 100%;position: relative;margin-right: 30px;}
.slider .slidebox{display: flex;height: 776px;flex-wrap: wrap;}
.slider .slidebox .img1{flex: 1 1 750px;min-width: 100%;background: url(../img/main/slide1.png)no-repeat center;height: 473px;background-size: auto 404px;}
.slider .slidebox .img2{flex: 1 1 750px;min-width: 100%;background: url(../img/main/slide2.png)no-repeat center;height: 473px;background-size: auto 404px;}

.slider .slidebox .img3{flex: 1 1 750px;min-width: 100%;background: url(../img/main/slide3.png)no-repeat center;height: 473px;background-size: auto 404px;}
.slider .slidebox .img4{flex: 1 1 750px;min-width: 100%;background: url(../img/main/slide4.png)no-repeat center;height: 473px;background-size: auto 404px;}
.swiper-wrapper .swiper-slide .font{transition: 1s;opacity: 1;}
.slider .slidebox .font{min-width: 100%;flex: 1 1 750px;position: relative;height: 304px;left: 5vw;}
.swiper-wrapper .swiper-slide-active .font{
	opacity: 1;}
.slider .font h3{font-size: 30px;  font-family: "Jomolhari", serif;font-weight: 400;text-transform: uppercase;color: var(--fontColor);position: absolute;left:5.8667vw; top:0px;line-height: 34px;}
.slider .font h3::after{display: block;content: "";width: 100%;height: 1px;background: var(--fontColor);margin-top: 3px;}
.slider .font h3 span{display: none;}
.slider .font p{font-size: 12px;line-height: 22px; top: 44px;left:5.8667vw;padding-right: 10px;}
.slider .font i{font-size: 12px;font-style: normal;top: 372px;line-height: 22px;max-width: 290px;top: 160px; left: 5.8667vw;letter-spacing: -0.8px;padding-right: 10px;}
.slider button {color: #fff;font-weight: bold;padding-left: 21px;text-align: left;position: absolute;bottom:20px;left:5.8667vw;width:200px;height: 40px;background: var(--fontColor);border: none;font-size: 16px;line-height: 16px;} 
.slider button .material-symbols-outlined{position: absolute;color: #fff;font-size: 16px;top: 50%;transform: translateY(-50%);right: 14px;}

.slider .swiper-pagination-bullet{background-color: #ffffff;width: 16px;height: 16px;border: 2px solid #5A0E0E;opacity: 1; }
.slider .swiper-pagination-bullet-active{background-color: #5A0E0E;width: 16px;height: 16px;}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{margin: 6px 0px!important;}
.swiper-pagination {margin-bottom: 230px;position: absolute;bottom:300px!important;flex-direction: column!important;display: flex;left: 85vw!important;} 

     /* ===========================배너 */
     .vanner{height:543px;padding-top: 10px;}
     .vanner ul{gap: 8px 0;padding: 0 16px;} 
     .vanner ul li {height: 158px;flex:1 1  361px;} 
     .vanner h3{top: 12px;font-size: clamp(20px, 6.1069vw,24px);padding:0 30px;} 
     .vanner p{font-size: clamp(10px,3.0534vw ,12px);top:75px;padding: 0 30px;line-height:18px;}

  /* =================푸터 */
  footer #foobox>img{width: 314px;top: 160px;}
  footer #foobox>h2{font-size: 18px;top: 73px;left:4.0712vw;}
  footer .f_menu {display: block;font-size: 14px;top: 118px;left:4.0712vw;}
  footer .f_menu li{border-right:none;line-height: 30px;padding-right: 0px;padding-left: 0px;text-decoration: underline;text-underline-offset: 3px;}
  footer .capy{top: 295px;left:4.0712vw;}
  footer #foobox>p{bottom: 41px;left:4.0712vw;}
  footer .sns{right:4.0712vw; top:73px;}
  footer .card {right:4.0712vw;bottom: 238px;}
  footer .card h2{font-size: 18px;padding-bottom: 14px;}
  footer .card ul{gap: 16px;}
  footer .card ul img{height: 24px;}
  
  }